


h1, h5 {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	font-size: 18px;
	margin-bottom: 2%;
}


.attribute {
	font-weight: bold;
	margin-right: 1%;
}

.add {
	display: inline-block;
}

.delete {
	float: right;
	color:red;
}

img {
	
	width: 150px;
}

.btn {
	border: none;
    outline:none;
    background-color: #d9e1e8;
}

.thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.searchname {
	font-size: 20px;
}

.addsearch {
	margin-left: 2%;
	margin-bottom: 2%;
}

h3 {
	text-align: center;
}


.tableDiv {
	margin-top:5%;
}

.resortTable {
	width:40%;
	margin:auto;
}

.searchDiv {
	text-align: center;
	border: 1px solid lightgrey;
	margin-bottom: 2%;
	width: 20%;
}

.bigDiv {

}






